# Lab 4

Species

    - drosophilia
    - e. coli
    - h. sapiens

table 1. Genes

    - name, description, organism, organism, start/end, strand

table 2. Pathways

    - glycolysis
    - citric acid cycle
    - pentose phosphate

table 3. Enzymes

    (Glycolysis)
    - Hexokinase (2.7.1.1)
    - Phosphoglucose Isomerase (5.3.1.9)
    - Enolase (4.2.1.11)
    - Pyruvate Kinase (2.7.1.40)

    (Pentose Phosphate) 
    - transketolase (2.2.1.1)
    - gluconolactonase (3.1.1.17)
    - ribulose-phosphate 3-epimerase (5.1.3.1)
    - 2-dehydro-3-deoxygluconokinase (2.7.1.45)

    (TCA Cycle)
    - aconitase (4.2.1.3)
    - fumarase (4.2.1.2)
    - malate dehydrogenase (1.1.5.4)
    - citrate synthase (2.3.3.1)


assn: enzymes to pathways (many to many)

assn: genes to enzyme (many to 1)

In [1]:
from Bio import Entrez
Entrez.email = "kbigelow@berkeley.edu"

In [2]:
organisms = ["homo sapiens", "drosophilia", "e. coli"]
enzymes = ["hexokinase", "phosoglucose isomerase", "enolase", "pyruvate kinase", "transketolase", "gluconolactonase",
        "ribulose-phosphate 3-epimerase", "2-dehydro-3-deoxygluconokinase", "aconitase", "fumarase", "malate dehydrogenase",
        "citrate synthase"]

In [3]:
handle = Entrez.esearch(db="nucleotide", term = "homo sapiens hexokinase", sort="relevance", idtype="acc")

In [6]:
import sqlite3
conn = sqlite3.connect("my.db")
c = conn.cursor()
c.execute("""CREATE TABLE genes (id INT, name TEXT, organism TEXT, description TEXT) """)
c.execute("""CREATE TABLE pathways (id INT, name TEXT) """)
c.execute("""CREATE TABLE enzyme (id INT, name TEXT, ec TEXT) """)

## pathways

In [8]:
c.execute("""INSERT INTO pathways (id, name) VALUES (1, 'Glycolysis')""")
c.execute("""INSERT INTO pathways (id, name) VALUES (2, 'Pentose Phosphate')""")
c.execute("""INSERT INTO pathways (id, name) VALUES (3, 'TCA Cycle')""")

## enzymes

In [9]:
c.execute("""INSERT INTO enzyme (id, name, ec) VALUES (1, 'hexokinase', '2.7.1.1')""")
c.execute("""INSERT INTO enzyme (id, name, ec) VALUES (2, 'phosphoglucose isomerase', '5.3.1.9')""")
c.execute("""INSERT INTO enzyme (id, name, ec) VALUES (3, 'enolase', '4.2.1.11')""")
c.execute("""INSERT INTO enzyme (id, name, ec) VALUES (4, 'pyruvate kinase', '2.7.1.40')""")

c.execute("""INSERT INTO enzyme (id, name, ec) VALUES (5, 'transketolase', '2.2.1.1')""")
c.execute("""INSERT INTO enzyme (id, name, ec) VALUES (6, 'gluconolactonase', '3.1.1.17')""")
c.execute("""INSERT INTO enzyme (id, name, ec) VALUES (7, 'ribulose-phosphate 3-epimerase', '5.1.3.1')""")
c.execute("""INSERT INTO enzyme (id, name, ec) VALUES (8, '2-dehydro-3-deoxygluconokinase', '2.7.1.45')""")

c.execute("""INSERT INTO enzyme (id, name, ec) VALUES (9, 'aconitase', '4.2.1.3')""")
c.execute("""INSERT INTO enzyme (id, name, ec) VALUES (10, 'fumarase', '4.2.1.2')""")
c.execute("""INSERT INTO enzyme (id, name, ec) VALUES (11, 'malate dehydrogenase', '1.1.5.4')""")
c.execute("""INSERT INTO enzyme (id, name, ec) VALUES (12, 'citrate synthase', '2.3.3.1')""")

In [11]:
conn.commit()

## genes

(researched from kegg)

In [12]:
#hexokinase
c.execute("""INSERT INTO genes (id, name, organism, description) 
        VALUES (1, 'HK1', 'homo sapiens', 'hexokinase 1')""")
c.execute("""INSERT INTO genes (id, name, organism, description) 
        VALUES (2, 'Hex-A', 'drosophilia', 'hexokinase A')""")
c.execute("""INSERT INTO genes (id, name, organism, description) 
        VALUES (3, '?', 'e. coli', '?')""")

#phosph isomerase
c.execute("""INSERT INTO genes (id, name, organism, description) 
        VALUES (4, 'GPI', 'homo sapiens', 'glucose-6-phosphate isomerase')""")
c.execute("""INSERT INTO genes (id, name, organism, description) 
        VALUES (5, 'Pgi', 'drosophilia', 'phosphoglucose isomerase, isoform A')""")
c.execute("""INSERT INTO genes (id, name, organism, description) 
        VALUES (6, 'pgi', 'e. coli', 'glucosephosphate isomerase')""")

#enolase
c.execute("""INSERT INTO genes (id, name, organism, description) 
        VALUES (7, 'ENO1', 'homo sapiens', 'enolase 1')""")
c.execute("""INSERT INTO genes (id, name, organism, description) 
        VALUES (8, 'Eno', 'drosophilia', 'enolase, isoform B')""")
c.execute("""INSERT INTO genes (id, name, organism, description) 
        VALUES (9, 'eno', 'e. coli', 'enolase')""")

#pyruvate kinase
c.execute("""INSERT INTO genes (id, name, organism, description) 
        VALUES (10, 'PKM', 'homo sapiens', 'pyruvate kinase M1/2')""")
c.execute("""INSERT INTO genes (id, name, organism, description) 
        VALUES (11, 'CG11249', 'drosophilia', 'uncharacterized protein')""")
c.execute("""INSERT INTO genes (id, name, organism, description) 
        VALUES (12, 'pykF', 'e. coli', 'pyruvate kinase I')""")

#transketolase
c.execute("""INSERT INTO genes (id, name, organism, description) 
        VALUES (13, 'TKT', 'homo sapiens', 'transketolase')""")
c.execute("""INSERT INTO genes (id, name, organism, description) 
        VALUES (14, 'CG5103', 'drosophilia', 'uncharacterized protein')""")
c.execute("""INSERT INTO genes (id, name, organism, description) 
        VALUES (15, 'tktB', 'e. coli', 'transketolase 2, thiamine triphosphate-binding')""")

#gluconolactonase
c.execute("""INSERT INTO genes (id, name, organism, description) 
        VALUES (16, 'RGN', 'homo sapiens', 'regucalcin')""")
c.execute("""INSERT INTO genes (id, name, organism, description) 
        VALUES (17, '?', 'drosophilia', '?')""")
c.execute("""INSERT INTO genes (id, name, organism, description) 
        VALUES (18, '?', 'e. coli', '?')""")

#ribulose-phosphate 3-epimerase
c.execute("""INSERT INTO genes (id, name, organism, description) 
        VALUES (19, 'RPE', 'homo sapiens', 'ribulose-5-phosphate-3-epimerase')""")
c.execute("""INSERT INTO genes (id, name, organism, description) 
        VALUES (20, 'CG30499', 'drosophilia', 'uncharacterized protein, isoform B')""")
c.execute("""INSERT INTO genes (id, name, organism, description) 
        VALUES (21, 'rpe', 'e. coli', 'D-ribulose-5-phosphate 3-epimerase')""")

#2-dehydro-3-deoxygluconokinase
c.execute("""INSERT INTO genes (id, name, organism, description) 
        VALUES (22, '?', 'homo sapiens', '?')""")
c.execute("""INSERT INTO genes (id, name, organism, description) 
        VALUES (23, '?', 'drosophilia', '?')""")
c.execute("""INSERT INTO genes (id, name, organism, description) 
        VALUES (24, 'kdgK', 'e. coli', '2-dehydro-3-deoxygluconokinase')""")

#aconitase
c.execute("""INSERT INTO genes (id, name, organism, description) 
        VALUES (25, 'ACO1', 'homo sapiens', 'aconitase 1')""")
c.execute("""INSERT INTO genes (id, name, organism, description) 
        VALUES (26, 'CG4706', 'drosophilia', 'uncharacterized protein')""")
c.execute("""INSERT INTO genes (id, name, organism, description) 
        VALUES (27, 'ybhJ', 'e. coli', 'aconitase family protein')""")

#fumarase
c.execute("""INSERT INTO genes (id, name, organism, description) 
        VALUES (28, 'FH', 'homo sapiens', 'fumarate hydratase')""")
c.execute("""INSERT INTO genes (id, name, organism, description) 
        VALUES (20, 'CG31874', 'drosophilia', 'uncharacterized protein')""")
c.execute("""INSERT INTO genes (id, name, organism, description) 
        VALUES (30, 'fumC', 'e. coli', 'fumarate hydratase (fumarase C),aerobic Class II')""")

#malate dehydrogenase
c.execute("""INSERT INTO genes (id, name, organism, description) 
        VALUES (31, '?', 'homo sapiens', '?')""")
c.execute("""INSERT INTO genes (id, name, organism, description) 
        VALUES (32, '?', 'drosophilia', '?')""")
c.execute("""INSERT INTO genes (id, name, organism, description) 
        VALUES (33, 'mqo', 'e. coli', 'malate dehydrogenase, FAD/NAD(P)-binding domain')""")

#citrate synthase
c.execute("""INSERT INTO genes (id, name, organism, description) 
        VALUES (34, 'CS', 'homo sapiens', 'citrate synthase')""")
c.execute("""INSERT INTO genes (id, name, organism, description) 
        VALUES (35, 'CG14740', 'drosophilia', 'uncharacterized protein')""")
c.execute("""INSERT INTO genes (id, name, organism, description) 
        VALUES (36, 'gltA', 'e. coli', 'citrate synthase')""")

In [13]:
conn.commit()

## associative tables

In [14]:
c.execute("""CREATE TABLE enzyme_pathway (enzyme_id INT, pathway_id INT) """)
c.execute("""CREATE TABLE enzyme_gene (enzyme_id INT, gene_id INT) """)

In [15]:
c.execute("""INSERT INTO enzyme_pathway (enzyme_id, pathway_id) VALUES (1, 1)""")
c.execute("""INSERT INTO enzyme_pathway (enzyme_id, pathway_id) VALUES (2, 1)""")
c.execute("""INSERT INTO enzyme_pathway (enzyme_id, pathway_id) VALUES (3, 1)""")
c.execute("""INSERT INTO enzyme_pathway (enzyme_id, pathway_id) VALUES (4, 1)""")
c.execute("""INSERT INTO enzyme_pathway (enzyme_id, pathway_id) VALUES (5, 2)""")
c.execute("""INSERT INTO enzyme_pathway (enzyme_id, pathway_id) VALUES (6, 2)""")
c.execute("""INSERT INTO enzyme_pathway (enzyme_id, pathway_id) VALUES (7, 2)""")
c.execute("""INSERT INTO enzyme_pathway (enzyme_id, pathway_id) VALUES (8, 2)""")
c.execute("""INSERT INTO enzyme_pathway (enzyme_id, pathway_id) VALUES (9, 3)""")
c.execute("""INSERT INTO enzyme_pathway (enzyme_id, pathway_id) VALUES (10, 3)""")
c.execute("""INSERT INTO enzyme_pathway (enzyme_id, pathway_id) VALUES (11, 3)""")
c.execute("""INSERT INTO enzyme_pathway (enzyme_id, pathway_id) VALUES (12, 3)""")

In [19]:
for enzyme_id in range(1, 13):
    for offset in range(-2, 1):
        gene_id = enzyme_id * 3 + offset
        c.execute("""INSERT INTO enzyme_gene (enzyme_id, gene_id) VALUES (?, ?)""", [enzyme_id, gene_id])

In [20]:
conn.commit()

In [22]:
c.execute("""select * from genes""")
c.fetchone()

(1, 'HK1', 'homo sapiens', 'hexokinase 1')

In [24]:
c.execute("""select * from enzyme_pathway""")
c.fetchone()

(1, 1)

In [26]:
c.execute("""select * from enzyme""")
c.fetchone()

(1, 'hexokinase', '2.7.1.1')